<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppleTV</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppleTV</string>
                </array>
            </dict>
            <key>Appstore</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Appstore</string>
                </array>
            </dict>
            <key>Calculator</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Calculator</string>
                </array>
            </dict>
            <key>Facetime</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Facetime</string>
                </array>
            </dict>
            <key>Help</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Help</string>
                </array>
            </dict>
            <key>Maps</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Maps</string>
                </array>
            </dict>
            <key>Music</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Music</string>
                </array>
            </dict>
            <key>News</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>News</string>
                </array>
            </dict>
            <key>Shazam</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Shazam</string>
                </array>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
